docs/curriculum

__pycache__/
*.pyc
*.log
.env
.venv/
venv/
.DS_Store
logs/

wandb/

# External repositories
ext_repos/

# Outputs and artifacts
outputs/
artifacts/
datasets/

# vs code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

.cursorrules

# Pytorch
*.pt
*.pth
*.ptl
*.pth.tar
*.pth.tar.gz
*.pth.tar.bz2
*.pth.tar.xz