docs/curriculum

__pycache__/
*.pyc
*.log
.env
.venv/
venv/
.DS_Store
logs/

wandb/

# External repositories except for `Cello-UCF` and `Cello-v2-1-Core` and `ProD`
ext_repos/
!ext_repos/Cello-UCF
!ext_repos/Cello-v2-1-Core
!ext_repos/ProD

# Outputs and artifacts
outputs/
artifacts/
datasets/

# vs code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

.cursorrules

# Pytorch
*.pt
*.pth
*.ptl
*.pth.tar
*.pth.tar.gz
*.pth.tar.bz2
*.pth.tar.xz