torch_geometric
bs4
rdflib-jsonld
rdflib
transformers
datasets
torch
scikit-learn
accelerate
pygraphviz

# expression and perturbation simulation
cmake  # Cmake is required to install pinetree
pinetree
cell-gears
pertpy
# https://github.com/PayamDiba/SERGIO
pyscenic

# circuit simulations
bioscrape